<footer>
       <!-- left logo ----------------------------------------------------->
     <div class="footer_logo">
        <p>&copy; 10533 My Website. All rights reserved</p>
     </div>

     <!-- right navigation ----------------------------------------------------->
     <ul class="footer_navigation">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
     </ul>        
</footer>
</body>
</html>