<%- include('./partials/header.ejs')%>
<div class="content_index">
  <br />
  <h3>Welcome to Koenigsegg Ghost Connection Site.</h3>
  <br />
  <p>
    <strong>
      The Koenigsegg Ghost Squadron is a group of Koenigsegg owners and
      enthusiasts who meet up to drive their cars to exotic locations. The
      group's name comes from the ghost emblem that appears on every Koenigsegg,
      which is a tribute to the Swedish Air Force's Johan Röd squadron. The
      squadron's motto was "The Show Must Go On", which Koenigsegg has adopted
      as its own.
    </strong>
  </p>
  <br />
  <p>
    <strong>
      Checkout the Event section to browse available Events that excites you .
    </strong>
  </p>
</div>
<%- include('./partials/footer.ejs')%>
