<%- include('../partials/header.ejs')%>

<div class="content_about">
  <h1>About Us</h1>
  <p>
    Our website is dedicated to the Koenigsegg brand. We are a group of car
    enthusiasts who love the Koenigsegg brand and want to share our passion with
    the world. Our website is a place where you can find all the latest news,
    reviews, and information about Koenigsegg cars. Whether you are a long-time
    fan of the brand or just discovering it for the first time, we hope you
    enjoy our website and find it informative and entertaining.
  </p>
</div>

<%- include('../partials/footer.ejs')%>
